<div class="row">
  <div class="span6 offset3">
    <h2> Edit User </h2> 
    <%= form_for(@user) do |f| %>


      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <% if current_user && current_user.admin %>
      <%= f.label :admin %>
      <%= f.check_box :admin %>
      <% end %>

    </br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>