<% provide(:title, 'Profile') %>

<head> 
	<%= render 'map' %>
</head> 

<body>
  <div class="row">
    	
    <div class = "span12">
      <div  id="map_canvas" > </div>
    </div>


    <div id="displaybox" class = "span4">
    	<div id="margin">
    	<p id="notice"><%= notice %></p>
		<h2>Profile:  </h2> <p> <strong><%= @user.email %> </strong> </br>
		<% if signed_in? && (current_user.admin? | current_user?(@user) )%>
				<%= link_to 'Edit Profile', edit_user_path(@user) %>
		<% end %>
		</p>
		
		</br>
		<h4> Total Reports: 
			<%= @user_reports.count %>
		</h4>
		<div id="bottom"> 
			<%= render partial: 'user', locals: { the_user: @user } %>
		</div> 

	</div>
    </div> <!--span4 --> 

    
  

	
  </div>
</body>