<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table class = "table table-bordered table-striped">
	<tr><td> Messages: </td></tr>
	<% @usermessages.each do |m| %>
		<tr> <td> <%= m.content %> </td> </tr> 
	<% end %>
</table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
