<%= form_for(@logging) do |f| %>
  <% if @logging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@logging.errors.count, "error") %> prohibited this logging from being saved:</h2>

      <ul>
      <% @logging.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :when %><br />
    <%= f.datetime_select :when %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
