<h2>Listing loggings</h2>

<table class = "table table-striped table-bordered">
  <tr>
    <th>When</th>
    <th>User</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loggings.each do |logging| %>
  <tr>
    <td><%= logging.when %></td>
    <td><%= logging.user_id %></td>
    <td><%= logging.event %></td>
    <td><%= link_to 'Show', logging %></td>
    <td><%= link_to 'Edit', edit_logging_path(logging) %></td>
    <td><%= link_to 'Destroy', logging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
