<p id="notice"><%= notice %></p>

<p>
  <b>When:</b>
  <%= @logging.when %>
</p>

<p>
  <b>User:</b>
  <%= @logging.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @logging.event %>
</p>


<%= link_to 'Edit', edit_logging_path(@logging) %> |
<%= link_to 'Back', loggings_path %>
